*{
    font-family: 'Poppons', sans-serif;
}

body{
    overflow: hidden;
}

img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(165,165,165, 0.15);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.107);
    box-sizing: border-box;
    border-radius: 2em;
    z-index: 10;
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 100px;
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: 0.5s ease;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: white;
    font-size: 12px;
}

.Submit {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 10px 120px;
    color: black;
    font-size: 16px;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s ease;
    margin-top: 50px;
    letter-spacing: 4px;
    border: 2px solid white;
}

.login-box button:hover{
    background-color: transparent;
    color: white;
}

button.Submit{
    cursor: pointer;
}

.remember{
    color: white;
}

.Login{
    color: white;
}

.Login a{
    color: red;
    text-decoration: none;
    margin-left: 50px;
}

.Login a:visited{
    color: red;
}

.Login a:hover{
    color: white;
}